[submodule "bact-archiver"]
	path = general/bact-archiver
	url = git@github.com:hz-b/bact-archiver
[submodule "general/bact-archiver-local"]
	path = general/bact-archiver-local
	url = git@github.com:hz-b/bact-archiver-local
[submodule "bessyii/bact-archiver-local"]
	path = site_specific/bessyii/archiver
	url = git@github.com:hz-b/bact-archiver-local
[submodule "site_specific/mls/bact-archiver-local"]
	path = site_specific/mls/archiver
	url = git@github.com:hz-b/bact-archiver-local
[submodule "site_specific/bpro/bact-archiver-local"]
	path = site_specific/bpro/archiver
	url = git@github.com:hz-b/bact-archiver-local
